<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid admin-listen">

<h3>Configure 'Listen' Page</h3>

<table class="table table-hover" id="myTable">
    <thead>
        <tr>
            <th id="songNameHeader" onclick="sortTable(0)">Song</th>
            <th id="audioPlayerHeader" onclick="sortTable(1)">Current Track</th>
            <th id="changeHeader"></th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="song : ${allSongs}">
            <td class="songNameCell" th:text="${song.songName}"></td>
            <td class="audioPlayerCell">
                <div th:if="${song.fileName != null && song.fileName != 'Hidden' && song.fileName != 'images'}">
                    <label th:text="${song.fileName}"></label>
                    <div th:if="${song.fileName != 'Hidden'}">
                        <audio class="audioPlayerInCell" controls>
                            <source th:src="@{${'/uploads/audio-files/' + song.fileName}}" type="audio/wav">
                        </audio>
                    </div>
                </div>
                <div th:if="${song.fileName == null || song.fileName == 'Hidden' || song.fileName == 'images'}">
                    Not On Listen Page
                </div>
            </td>
            <td class="changeCell">
                <button class="updateSectionButton">Update</button>
                <form class="updateSection" th:action="@{/admin/listen}" th:method="post" style="display:none">
                    <input th:value="${song.songName}" th:name="songName" hidden readonly>
                    <select class="selectedSong" th:name="newFileName">
                        <option value="Hidden">Choose File:</option>
                        <option value="Hidden">Hide This Song from 'Listen' Page</option>
                        <th:block th:each="audioFileName : ${allAudioFileNames}">
                            <option th:text="${audioFileName}" th:value="${audioFileName}"></option>
                        </th:block>
                    </select><hr>

                    <div>
                        <button class="btn btn-primary updateButton" type="submit">Update</button><br><br>
                        <a class="playBtn">
                            <button class="btn btn-secondary" onclick="openSelectedInNewTab()" type="button">
                                Play Selected
                            </button><hr>
                        </a>
                    </div>
                </form>
            </td>
        </tr>
    </tbody>
</table>

</body>

</html>