<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid admin-photos">

<div class="row">
   <div class="column">
      <h2>Delete Photos</h2>
      <p>Photos currently in the slideshow:</p>
      <form th:action="@{/admin/photos/deletePhotos}" method="post">
         <table class="table table-hover">
            <thead>
               <tr>
                  <th class="deleteColumnHeader"></th>
                  <th class="photoColumnHeader"></th>
               </tr>
            </thead>
            <tbody>
               <tr th:each="photoFile : ${allPhotoFileNames}">
                  <td class="checkbox-cell">
                     <input class="big-checkbox" type="checkbox" th:name="photoFile" th:value="${photoFile}">
                  </td>
                  <td class="thumbnail-cell">
                     <img class="thumbnail" th:src="@{'/uploads/photos/' + ${photoFile} }" onclick="window.open(this.src)">
                  </td>
               </tr>
            </tbody>
         </table>
         <div class="deleteButtonDiv">
            <button class="btn btn-danger" type="submit">Delete</button>
         </div>
      </form>
   </div>

   <div class="column">
      <h2>Upload New Photos</h2>
      <p>Allowed File Types: JPG, PNG and GIF</p>
      <form method="post" th:action="@{/admin/photos/upload-photo}" enctype="multipart/form-data">
         <hr id="adminPhotosHr">
         <div class="form-group">
            <input type="file" name="file" class="form-control-file">
         </div>
         <button type="submit" class="btn btn-primary centered-danger">Upload File</button>
      </form><br>

      <h2>Current Slideshow</h2>
      <div class="slideshow-container">
         <div th:each="photoFile : ${allPhotoFileNames}" class="photoGallerySlide">
            <img th:src="@{'/uploads/photos/' + ${photoFile} }" alt="Slide">
         </div>
      </div><br><br>
      </form>
   </div>
</div>

</body>

</html>