<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>

<body class="container-fluid admin-delete-gig">
    <h1 class="view-header">Delete Gigs</h1>
    <form th:action="@{/admin/gigs/delete}" method="post">
        <table id="gigsTable" class="table">
            <thead>
                <tr>
                    <th id="bigCheckboxHeader"></th>
                    <th id="gigNameHeader" class="cursor-pointer" onclick="sortTable(0, 'gigsTable')">Gig</th>
                    <th id="gigDateHeader" class="cursor-pointer" onclick="sortTable(1, 'gigsTable')">Date</th>
                    <th id="gigPosterHeader">Poster</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="gig : ${gigs}">
                    <td>
                        <div class="flex-center">
                            <input th:value="${gig.id}" class="form-control bigCheckbox" type="checkbox" name="gigIds">
                        </div>
                    </td>
                    <td th:text="${gig.name}"></td>
                    <td th:text="${gig.date}"></td>
                    <td>
                        <img th:src="'/uploads/gig-posters/' + ${gig.image}" class="gigPoster" onclick="window.open(this.src)">
                    </td>
                </tr>
            </tbody>
        </table>
        <input id="deleteButton" class="btn btn-danger" type="submit" value="Delete" />
    </form>
</body>

</html>