<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid">

<h3>Add New Gig: </h3>
<p>Please have a JPG or PNG file poster for the gig ready to upload.</p>

<form method="post" th:action="@{/admin/gigs/new}">
    <div class="form-group">
        <label>Name
            <input th:field="${gig.name}" class="form-control">
        </label>
        <p class="error" th:errors="${gig.name}"></p>
    </div>
    <div class="form-group">
        <label>Date
            <input th:field="${gig.date}" type="date" class="form-control">
        </label>
        <p class="error" th:errors="${gig.date}"></p>
    </div>
    <label>Time (Optional)
        <input th:field="${gig.time}" class="form-control">
    </label>
    <p class="error" th:errors="${gig.time}"></p>
    </div>
    <div class="form-group">
        <label>Address (Optional)
            <input class="form-control" th:field="${gig.address}">
        </label>
        <p class="error" th:errors="${gig.address}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>