<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid admin-upload-gig-image">

<div>
    <h2>Gig Poster Upload</h2>
    <p id="allowedFileTypes">Allowed File Types:</p>
    <form method="post" th:action="@{/admin/gigs/upload-image}" enctype="multipart/form-data">
        <hr>
        <h3>Select Gig:</h3>
        <select class="form-control" name="gigId" id="gigId">
            <option th:each="option : ${gigsForDropdown}"  th:text="${option.name}" th:value="${option.id}"></option>
        </select>
        <br>
        <br>
        <div class="form-group">
            <input id="fileText" type="file" name="file" class="form-control-file">
        </div>
        <button type="submit" class="btn btn-primary">Upload File</button>
        <button> <a class="btn secondary" href="/admin/songs">Skip</a> </button>
    </form>
</div>

</body>
</html>