<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid admin-upload-audio-file">

<div>
	<h1 id="audioFileUploadHeader" class="view-header regular-font">Audio File Upload</h1>
	<h2 id="allowedFileTypesText" class="regular-font">Allowed File Types: WAV & MP3</h2>
	<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary regular-font"></p>
	<div id="uploadAudioFileWrapper">
		<form id="uploadAudioFileForm" method="post" th:action="@{/admin/upload/audio-file}" enctype="multipart/form-data">
			<label id="selectSongLabel">Select Song:</label>
			<select class="form-control" name="songId" id="songId">
				<option th:each="option : ${songsForDropdown}"  th:text="${option.songName}" th:value="${option.id}"></option>
			</select>
			<div class="form-group">
				<input type="file" name="file" class="form-control-file">
			</div>
			<button id="uploadFileButton" type="submit" class="btn btn-success">Upload File</button>
			<a id="skipLink" class="btn regular-font" href="/admin/songs">Skip</a>
		</form>
	</div>
</div>

</body>
</html>