<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid">

<div>
	<h2>Audio File Upload</h2>
	<p style="font-style:italic;">Allowed File Types: .WAV & .MP3</p>
	<p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
	<form method="post" th:action="@{/admin/upload/audio-file}" enctype="multipart/form-data">
		<hr style="border: 0; height: 3px; background-color: black;">
		<h3>Select Song:</h3>
		<select class="form-control" name="songId" id="songId">
			<option th:each="option : ${songsForDropdown}"  th:text="${option.songName}" th:value="${option.id}" ></option>
		</select>
		<br>
		<br>
		<div class="form-group">
			<input type="file" name="file" class="form-control-file" style="color:white">
		</div>
		<button type="submit" class="btn btn-primary">Upload File</button>
		<button> <a class="btn secondary" href="/admin/songs">Skip</a> </button>
	</form>
</div>




</body>
</html>