<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid admin-photos-delete">

<h1 class="view-header regular-font">Delete Photos</h1>
<p id="deletePhotosExplainerText" class="regular-font">Photos currently in the slideshow:</p>
<form th:action="@{/admin/photos/deletePhotos}" method="post">
   <table class="table">
      <thead>
         <tr>
            <th class="deleteColumnHeader"></th>
            <th class="photoColumnHeader"></th>
         </tr>
      </thead>
      <tbody>
         <tr th:each="photo : ${allPhotos}">
            <td class="checkbox-cell">
               <input class="big-checkbox" name="photoIds" th:value="${photo.id}" type="checkbox">
            </td>
            <td>
               <div class="thumbnailContainer">
                  <img class="thumbnail" th:src="@{'/uploads/photos/' + ${photo.url} }" onclick="window.open(this.src)">
               </div>
            </td>
         </tr>
      </tbody>
   </table>
   <div class="deleteButtonDiv">
      <button id="deletePhotosButton" class="btn btn-danger" type="submit">Delete</button>
   </div>
</form>

</body>

</html>