<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid admin-photos">

<div class="row">
    <div class="column">
        <h2>Arrange Photos</h2>
        <p>Photos currently in the slideshow:</p>
        <form th:action="@{/admin/photos/arrangePhotos}" method="post">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="photoColumnHeader"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="photo : ${allPhotos}">
                    <td>
                        <img class="thumbnail" th:src="@{'/uploads/photos/' + ${photo.url} }" onclick="window.open(this.src)">
                    </td>
                    <td>
                        <input type="hidden" name="photoIds" th:value="${photo.id}" th:attr="hidden=${true}" />
                        <input type="number" name="orderNumbers" th:value="${photo.orderNumber}" />
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

</body>

</html>