<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid admin-photos">

<h2>Arrange Photos</h2>
<p>Photos currently on the website Photos page</p>
<form th:action="@{/admin/photos/arrangePhotos}" method="post">
    <table class="table" id="myTable">
        <thead>
            <tr>
                <th class="photoColumnHeader"></th>
                <th class="photoOrderColumnHeader" onclick="sortTable(1);">Order</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="photo : ${allPhotos}">
                <td>
                    <div class="thumbnailContainer">
                        <img class="thumbnail" th:src="@{'/uploads/photos/' + ${photo.url} }" onclick="window.open(this.src)">
                    </div>
                </td>
                <td class="photoOrderCell">
                    <input type="hidden" name="photoIds" th:value="${photo.id}" th:attr="hidden=${true}" />
                    <input type="number" name="orderNumbers" th:value="${photo.orderNumber}" class="photoOrderInput" />
                </td>
            </tr>
        </tbody>
    </table>
    <div class="submitButtonDiv">
        <button class="btn btn-primary" type="submit">Rearrange</button>
    </div>
</form>

</body>

</html>