<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid upload-photo">

<div id="uploadPhotoFileContainer">
    <h1 class="view-header regular-font">Upload Photo File</h1>
    <p id="allowedFileTypeText" class="regular-font">Allowed File Types: JPG, PNG and GIF</p>
</div>

<div class="flex-center" class="column">
    <form method="post" id="uploadPhotoFileForm" th:action="@{/admin/photos/upload-photo-file}" enctype="multipart/form-data">
        <label id="uploadPhotoFileLabel">Photo Title:</label>
        <select id="photoId" class="form-control" name="photoId">
            <option th:each="photo : ${photosForDropdown}" th:text="${photo.title}" th:value="${photo.id}"></option>
        </select>
        <input id="chooseFileButton" type="file" name="file" class="form-control-file">
        <button type="submit" id="uploadPhotoFileButton" class="btn btn-success">Upload File</button>
    </form>
</div>

</body>
</html>