<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid admin-photos">

<h1 class="view-header regular-font">Upload Photo</h1>

<div id="photoTitleAndCreditFormWrapper">
    <form id="photoTitleAndCreditForm" method="post" th:action="@{/admin/photos/upload-photo}">
        <div class="form-group">
            <label class="photoTitleAndCreditLabel">Title</label>
            <input class="photoTitleAndCreditInput form-control" th:field="${photo.title}" />
        </div>
        <div class="form-group">
            <label class="photoTitleAndCreditLabel">Credit (Optional)</label>
            <input class="photoTitleAndCreditInput form-control" th:field="${photo.credit}">
        </div>
        <div class="form-group">
            <input id="photoTitleAndCreditButton" type="submit" value="Create" class="btn btn-success">
        </div>
    </form>
</div>

</body>
</html>