<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>

<body class="container">

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <h2>Upload Song (.wav file)</h2>
                <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
                <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" name="file" class="form-control-file">
                        <hr>
                        <h2>Select Song:</h2>
                        <select class="form-control" name="songId">
                            <option th:each="option : ${songsForDropdown}"  th:text="${option.songName}" th:value="${option.id}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Upload File</button>
                </form>
                <button> <a class="btn secondary" th:href="@{}">Skip</a> </button>
            </div>
        </div>
    </div>
</section>

</body>
</html>