.audioPlayerInCell {
    height: 25px;
    width: 80%;
    border-radius: 0;
}

.selectedSong {
    width: 173px;
}

#audioPlayerHeader, .audioPlayerCell {
    width: 50%;
    cursor: pointer;
    vertical-align: middle;
}

#changeHeader, .changeCell {
    width: 20%;
    vertical-align: middle;
    text-align: center;
}

#songNameHeader, .songNameCell {
    width: 30%;
    cursor: pointer;
    vertical-align: middle;
}



