#songNameHeader, #songNameCell {
    width: 30%;
    cursor: pointer;
    vertical-align: middle;
}

#audioPlayerHeader, #audioPlayerCell {
    width: 50%;
    vertical-align: middle;
}

#changeHeader, #changeCell {
    width: 20%;
    vertical-align: middle;
    text-align: center;
}


