#songNameHeader {
    width: 20%;
}

#songNameCell {
    width: 20%;
    vertical-align: middle;
}

#originalArtistHeader {
    width: 20%
}

#originalArtistCell {
    width: 20%;
    vertical-align: middle;
}

#audioPlayerHeader {
    width: 40%;
}

#audioPlayerCell {
    width: 40%;
    vertical-align: middle;
}

#changeHeader {
    width: 20%;
}

#changeCell {
    width: 20%;
    vertical-align: middle;
}

