/* Type Selectors */
a {
    color: black;
}

#adminPortalInfoPanel {
    display: flex;
    align-items: center;
}

#adminPortalText {
    padding-top: 16px;
    font-size: 20px;
}

body {
    background: linear-gradient(to right, #76879a, #527caa);
    min-height: 100vh;
    position: relative;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    color: black;
    background-color: white;
}

.container-fluid {
    padding-top: 25px;
    padding-bottom: 50px;
    padding-left: 10%;
    padding-right: 10%;
}

.cursor-pointer {
    cursor: pointer;
}

#filterInput {
    width: 20vw;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.form-control-file {
    color: white
}

h1, h2, h3, h4 {
    color: black;
}

#hamburgerLinks {
    display: block;
    width: 75%;
    outline: black solid 2px;
    margin-top: 5px;
    border-radius: 5px;
}

.hamburger-menu-item {
    font-size: 22px !important;
    margin-left: 25px;
}

label, p, td, th {
    color: black;
}

#menuItemsWrapper {
    display: flex;
    justify-content: space-between;
    outline: 2px solid black;
    padding: 0 5px 0 5px;
    border-radius: 5px;
}

.nav-link {
    text-decoration: underline;
    font-family: 'Snowtop Caps', sans-serif;
    font-size: 32px;
    padding: 0;
}

.nav-link:hover {
    background-color: transparent !important;
    color: white !important;
    text-decoration: underline !important;
}

.no-space-after {
    margin-bottom: 0;
    padding-bottom: 0;
}

.regular-font {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.subheader-text {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

textarea {
    font-family: monospace;
}

th {
    font-size: 16px;
}

.titleHeaderFragment {
    font-size: 64px !important;
}

#titleHeaderFragmentWrapper {
    display: flex;
    justify-content: center;
}

.titleHeaderFragment:hover {
    color: white;
    text-decoration: none;
}

.view-header {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
    font-size: 32px;
}

#wrenchIcon {
    height: 32px;
    margin: 0 7px 0 6px;
}

/* Snowfall Animation */

.snowfall-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vh;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}

.snowflake {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 2;
}

@keyframes fall {
    from {
        transform: translateY(-10px);
    }
    to {
        transform: translateY(calc(100vh + 10px)); /* Fall to the bottom of the viewport */
    }
}

/* Body Classes */

.add-chords-to-practice #addedBy {
    font-size: 20px;
    width: 200px;
    text-align: left;
}

.add-chords-to-practice #addedByLabel {
    font-size: 22px;
}

.add-chords-to-practice #submitButton {
    width: 200px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    outline: 2px solid black;
}

.add-chords-to-practice #textArea {
    height: 45vh;
}

.admin-delete-gig  .bigCheckbox {
    height: 25px;
    width: 25px;
    margin-left: 32px;
}

.admin-delete-gig #deleteButton {
    font-size: 15px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ff5555;
    color: black;
    width: 100px;
}

.admin-delete-gig  .gig-poster-in-table {
    width: auto;
    height: 300px;
}

.admin-delete-gig .gigNameCell {
    width: 25vw;
}

.admin-delete-gig .table td {
    vertical-align: middle;
    text-align: center;
    font-size: 20px;
}

.admin-delete-gig .table th {
    position: relative;
    top: 10px;
    text-align: center;
    font-size: 22px;
}

.admin-listen  #audioPlayerHeader,
.admin-listen  .audioPlayerCell {
    width: 50%;
    vertical-align: middle;
}

.admin-listen  .audioPlayerInCell {
    height: 25px;
    width: 80%;
    border-radius: 0;
}

.admin-listen  #changeHeader,
.admin-listen  .changeCell {
    width: 20%;
    vertical-align: middle;
    text-align: center;
}

.admin-listen #chooseFileDropdown {
    width: 200px;
    height: 32px;
    border-radius: 5px;
    outline: 1px solid black;
}

.admin-listen .playSelectedButton {
    width: 200px;
    margin-top: 6px;
    border-radius: 5px;
    outline: 1px solid black;
    color: black;
    font-weight: bold;
}

.admin-listen  .selectedSong {
    width: 173px;
}

.admin-listen #showUploadedSongsButton {
    color: black;
    outline: 2px solid black;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
}

.admin-listen .song-container {
    break-inside: avoid;
    margin-bottom: 20px;
}

.admin-listen  #songNameHeader,
.admin-listen  .songNameCell {
    width: 30%;
    cursor: pointer;
    vertical-align: middle;
}

.admin-listen .two-column-view {
    column-count: 2;
    column-gap: 20px;
}

.admin-listen  .updateButton {
    border-radius: 5px;
    width: 200px;
    margin-top: 8px;
    outline: 1px solid black;
    color: black;
    font-weight: bold;
}

.admin-listen .updateSection {
    height: 115px;
    margin-top: 6px;
    border-radius: 5px;
}

.admin-listen  .updateSectionButton {
    width: 200px;
    border-radius: 5px;
    height: 32px;
    font-weight: bold;
    outline: 2px solid black;
    font-size: 18px;
}

.admin-listen .uploadedSongName {
    margin-bottom: 0;
    font-size: 15px;
}

.admin-listen  .uploadedSongPlayer {
    width: 100%;
    height: 30px;
    margin-bottom: 0px;
}

.admin-listen #uploadedSongsDiv {
    display: block;
    margin-top: 16px;
}

.admin-photos #arrangePhotosExplainerText {
    text-align: center;
    font-size: 16px;
}

.admin-photos .arrowSvg {
    height: 50px;
    cursor: pointer;
    border: 2px solid black;
    width: 50px;
    padding: 2px;
    background-color: white;
}

.admin-photos .photoColumnHeader {
    width: 50%;
}

.admin-photos  .photoOrderCell {
    vertical-align: middle;
    text-align: center;
}

.admin-photos  .photoOrderColumnHeader {
    width: 50%;
    text-align: center;
    cursor: pointer;
}

.admin-photos  .photoOrderInput {
    width: 40px;
    text-align: center;
}

.admin-photos #rearrangePhotosButton {
    outline: 2px solid black;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.admin-photos  .submitButtonDiv {
    text-align: center;
    width: 50%;
}

.admin-photos  .thumbnail {
    width: 175px;
    height: 125px;
    cursor: pointer;
}

.admin-photos  .thumbnailContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.admin-photos #photoTitleAndCreditButton {
    width: 100%;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.admin-photos  #photoTitleAndCreditForm {
    width: 30vw;
    outline: 2px solid black;
    padding: 30px;
    border: 5px;
}

.admin-photos  .photoTitleAndCreditInput {
    border: 2px solid black;
    border-radius: 5px;
}

.admin-photos  .photoTitleAndCreditLabel {
    font-size: 18px;
}

.admin-photos-delete  .big-checkbox {
    width: 25px;
    height: 25px;
}

.admin-photos-delete  .checkbox-cell {
    text-align: center;
    vertical-align: middle;
}

.admin-photos-delete  .deleteButtonDiv {
    width: 33%;
    text-align: center;
}

.admin-photos-delete  .deleteColumnHeader {
    width: 25%;
    text-align: center;
}

.admin-photos-delete #deletePhotosButton {
    outline: 2px solid black;
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.admin-photos-delete .photoColumnHeader {
    width: 50%;
    text-align: center;
}

.admin-photos-delete  .thumbnail {
    width: 175px;
    height: 125px;
    cursor: pointer;
}

.admin-photos-delete  .thumbnailContainer {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.admin-songs-delete  .bigCheckbox {
    height: 25px;
    width: 25px;
    margin: 0;
}

.admin-songs-index  .practiceButtonLink {
    color: inherit;
    text-decoration: none;
}

.admin-songs-index  .songIdDiv {
    display:none
}

.admin-songs-index  .table td {
    vertical-align: middle !important;
}

.admin-songs-index  .tdCentered {
    text-align: center;
}

.admin-upload-audio-file #selectSongLabel {
    font-size: 18px;
    margin: 0;
}

.admin-upload-audio-file #skipLink {
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.admin-upload-audio-file #uploadFileButton {
    width: 86%;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.admin-upload-audio-file #uploadAudioFileForm {
    width: 40vw;
    outline: 2px solid black;
    padding: 30px;
    border-radius: 5px;
}

.admin-upload-gig-image  #allowedFileTypes {
    font-style: italic;
}

.admin-upload-gig-image  #fileText {
    color: white;
}

.admin-upload-sheet-music  #fileText {
    color: white;
}

.admin-upload-sheet-music #selectSongLabel {
    font-size: 18px;
    margin: 0;
}

.admin-upload-sheet-music #sheetId {
    outline: 2px solid black;
}

.admin-upload-sheet-music #skipLink {
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.admin-upload-sheet-music #uploadFileButton {
    width: 86%;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.admin-upload-sheet-music #uploadSheetMusicForm {
    width: 40vw;
    outline: 2px solid black;
    padding: 30px;
    border-radius: 5px;
}

.edit-chord-page td {
    width: 80vw;
}

.edit-chord-page #confirmButton {
    width: 200px;
    font-size: 18px;
    color: black;
    font-weight: bold;
    outline: 2px solid black;
}

.edit-chord-page  #songChordsText {
    width: 100%;
    height: 500px;
    font-family: monospace;
}

.gigs-view {
    --swiper-navigation-color: black;
    --swiper-pagination-color: black
}

.gigs-view  .arrowButtons {
    white-space: nowrap;
}

.gigs-view  .gigPoster {
    height: 85vh;
    object-fit: contain;
    width: 100%;
}

.gigs-view  #noUpcomingGigsText {
    color: black;
    font-size: 16px;
}

.gigs-view .pastGigSlides {
    padding-bottom: 100px;
}

.gigs-view  .pastGigsDiv {
    text-align: center;
    padding-bottom: 50px;
}

.gigs-view  swiper-container {
    width: 75%;
}

.gigs-view  .upcomingGigsDiv {
    text-align: center;
    padding-bottom: 25px;
}

.index h1, h2, h3, h4, h5, h6, p, a, i, u {
    font-family: 'Snowtop Caps', sans-serif;
}

.index  #bandText {
    text-align: center;
    font-size: 64px;
    margin-bottom: 28px;
}

.index  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%;
    margin: auto;
}

.index  .carouselPhoto {
    border: 2px solid black;
}

.index  .instrumentPhoto {
    width: 22.5%;
}

.index  .instrumentsAndNames {
    text-align: center;
    width: 60%;
    margin: 0 0 48px 0;
}

.index  .instrumentsAndNamesContainer {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.index  #mixer {
    margin-right: 16px;
}

.index .name {
    font-size: 36px;
}

.index .nav {
    margin-bottom: 18px;
}

.listen h1, h2, h3, h4, h5, h6, p, a, i, u {
    font-family: 'Snowtop Caps', sans-serif;
}

.listen  .audioPlayerHTML {
    width: 100%;
    margin-bottom: 12px;
}

.new-gig label {
    font-size: 18px;
}

.new-gig #createGigButton {
    width: 100%;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.new-gig #fileTypeExplainer {
    text-align: center;
    font-size: 16px;
}

.new-gig #gigDateInput {
    width: 40%;
}

.new-gig #gigTimeInput {
    width: 40%;
}

.new-gig #newGigForm {
    width: 30vw;
    outline: 2px solid black;
    padding: 30px;
    border: 5px;
}

.new-song #add-new-song-button {
    width: 40vw;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.new-song  .error {
    color: #7f2828;
    font-weight: bold;
}

.new-song #new-song-form {
    border: 2px solid black;
    padding: 30px;
    border-radius: 5px;
}

.new-song .new-song-form-input {
    border: 2px solid black;
}

.new-song .new-song-form-label {
    font-size: 18px;
    color: black;
}

.new-song #new-song-key {
    width: 64px;
}

.new-song #new-song-year {
    width: 64px;
}

.photos  swiper-container {
    width: 100%;
    height: 100%;
    --swiper-navigation-color: black;
    --swiper-pagination-color: black
}

.photos  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos  swiper-slide img {
    width: 100%;
    height: auto;
}

.photos  swiper-button-next {
    color: black
}

.photos  swiper-container {
    width: 100%;
}

.photos  swiper-slide {
    background-size: cover;
    background-position: center;
}

.photos  .mySwiper2 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.photos  .mySwiper2 swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.3;
}

.photos  .mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
}

.photos  #photoGalleryDiv {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    height: 950px; /* set a fixed height for the gallery container */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.photos  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.practice .addedByText {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
}

.practice #addChordsButton {
    margin-top: 18px;
    outline: 2px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.practice #addNoteButton {
    margin-top: 18px;
    margin-bottom: 18px;
    outline: 2px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    width: 108px;
}

.practice #addNoteLink {
    text-decoration: none;
    color: inherit;
}

.practice #artistAndTitleText {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 24px;
}

.practice #chordsButton {
    border-radius: 5px;
    width: 135px;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
}

.practice .chordsButtonsWrapper {
    display: flex;
    margin-bottom: 4px;
}

.practice .chordSheetButton {
    height: 65px;
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    border: 2px solid black;
}

.practice  .chordsText {
    width: 80vw;
    font-size: 18px;
    transition: font-size 0.3s ease;
    overflow: hidden;
    background-color: white;
    color: black;
}

.practice #deleteButton {
    position: relative;
    height: 30px;
    font-size: 15px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 5px;
    background-color: #ff5555;
}

.practice .deleteChordPageButton {
    width: 80px;
    margin-right: 4px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    height: 25px;
    background-color: #ff4b4b
}

.practice #editButton {
    position: relative;
    height: 30px;
    width: 50px;
    border-radius: 5px;
    font-size: 15px;
    border: 2px solid black;
    font-weight: bold;
    text-align: center;
}

.practice .editButtonLink {
    font-size: 15px;
    color: inherit;
    text-decoration: none;
}

.practice .editChordPageButton {
    width: 65px;
    margin-right: 4px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 13px;
    height: 25px;
}

.practice #myTable {
    background-color: #a2abb6;
    border: 3px solid white;
    color: black;
}

.practice #notesButton {
    border: 5px solid black;
    border-radius: 5px;
    width: 135px;
    height: 34px;
    font-size: 14px;
    font-weight: bold;
}

.practice  #practiceNoteDateHeader {
    cursor: pointer;
}

.practice  #practiceNoteDateHeader, .practiceNoteTimestampCell {
    width: 15%;
    padding-bottom: 4px;
}

.practice  #practiceNoteDeleteButtonHeader, .practiceNoteDeleteButton {
    width: 8%;
}

.practice  #practiceNoteEditButtonHeader, .practiceNoteEditButton {
    width: 6%;
}

.practice  #practiceNoteFromHeader {
    cursor: pointer;
    padding-bottom: 4px;
}

.practice  #practiceNoteFromHeader, .practiceNoteFromCell {
    width: 11%;
}

.practice  #practiceNoteTextHeader {
    cursor: pointer;
    padding-bottom: 4px;
}

.practice  #practiceNoteTextHeader, .practiceNoteTextCell {
    max-width: 350px;
    word-wrap: break-word;
}

.practice .print-button {
    width: 65px;
    margin-right: 4px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    height: 25px;
}

.practice .table td {
    vertical-align: middle;
}

.practice #uploadSheetMusicButton {
    border-radius: 5px;
    border: 2px solid black;
}

.practice .viewSheetMusicButton {
    border-radius: 5px;
    border: 2px solid black;
}

.practice #youtubeUrl {
    width: 350px;
    outline: 2px solid black;
    border-radius: 5px;
    margin-top: 1px;
    margin-right: 6px;
}

.practice #youtubeUrlButton {
    border: 2px solid black;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.practice #youtubeUrlLabel {
    font-size: 18px;
}

.practice #youtubeUrlWrapper {
    display: flex;
}

.setlists .setlistLink:visited {
    color: black;
}

.upload  #allowedFileTypesText {
    font-style:italic;
}

.upload  .largeHr {
    border: 0; height: 3px; background-color: black;
}

.upload-photo #allowedFileTypeText {
    font-size: 14px;
    margin-bottom: 20px;
    text-align: center;
}

.upload-photo #chooseFileButton {
    border-radius: 5px;
}

.upload-photo #photoId {
    outline: 2px solid black;
}

.upload-photo #uploadPhotoFileButton {
    width: 100%;
    outline: 2px solid black;
    margin-top: 24px;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.upload-photo #uploadPhotoFileContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.upload-photo #uploadPhotoFileForm {
    width: 40vw;
    outline: 2px solid black;
    padding: 30px;
    border-radius: 5px;
}

.upload-photo #uploadPhotoFileLabel {
    font-size: 18px;
    margin: 0;
}

    /* Tablet */
    @media only screen and (min-width: 768px) and (max-width: 1024px) {

        /* Type Selectors */

        a {
            font-size: 24px;
        }

        button {
            font-size: 24px;
        }

        h2 {
            font-size: 32px
        }

        h3 {
            font-size: 30px;
        }

        h4 {
            font-size: 28px;
        }

        input {
            height: 38px;
            font-size: 24px;
        }

        label {
            font-size: 24px;
        }

        p {
            font-size: 22px;
        }

        td {
            font-size: 24px;
        }

        th {
            font-size: 20px;
        }

        .btn {
            font-size: 24px;
            height: 48px;
        }

        .container-fluid {
            padding-right: 12px;
            padding-left: 12px;
            padding-top: 30px;
            padding-bottom: 15px;
        }

        .form-control {
            font-size: 24px;
            height: 48px;
        }

        .form-control-file {
            font-size: 22px;
            height: 38px;
        }

        .titleHeaderFragment {
            font-size: 42px;
        }

        /* Body Classes */
        .add-chords-to-practice #textArea {
            font-size: 16px;
        }

        .admin-listen td {
            font-size: 17px;
        }

        .admin-listen .audioFileNameLabel {
            font-style: italic;
            font-size: 16px;
        }

        .admin-listen .audioPlayerInCell {
            width: 100%;
        }

        .admin-listen .playSelectedButton {
            color: black;
            height: 32px;
            font-size: 20px;
            line-height: 0px;
            outline: 2px solid black;
            font-weight: bold;
        }

        .admin-listen .selectedSong {
            font-size: 20px;
            height: 32px;
            outline: 2px solid black;
        }

        .admin-listen .song-container {
            margin-bottom: 12px;
        }

        .admin-listen .updateButton {
            color: black;
            height: 32px;
            font-size: 20px;
            line-height: 0px;
            margin-top: 0px;
            outline: 2px solid black;
            font-weight: bold;
        }

        .admin-listen .updateSectionButton {
            height: 32px;
            font-size: 20px;
            margin-top: 6px;
        }

        .admin-photos #photoTitleAndCreditForm {
            width: 60vw;
        }

        .admin-songs-delete .checkboxWrapper {
            display: flex;
            justify-content: center;
        }

        .admin-songs-delete #deleteButton {
            border: 2px solid black;
            border-radius: 5px;
            color: black;
            font-weight: bold;
            font-size: 20px;
            margin-left: 8px;
        }

        .admin-songs-delete #deleteColumnHeader {
            text-align: center;
        }

        .admin-songs-delete #filterInput {
            width: 40vw;
            height: 36px;
            font-size: 15px;
            margin-bottom: 24px;
            outline: 2px solid black;
        }

        .admin-songs-delete label {
            font-size: 22px;
        }

        .admin-songs-delete td {
            vertical-align: middle !important;
            font-size: 17px;
            text-align: left;
            height: 55px;
        }

        .admin-songs-delete th {
            font-size: 20px;
        }

        .admin-songs-index td {
            font-size: 17px;
            text-align: left;
            height: 55px;
        }

        .admin-songs-index th {
            font-size: 20px;
        }

        .admin-songs-index .addSheetMusicCell {
            display: none;
        }

        .admin-songs-index #filterInput {
            width: 40vw;
            height: 36px;
            font-size: 15px;
            margin-bottom: 24px;
            outline: 2px solid black;
        }

        .admin-songs-index .practiceButton {
            font-size: 18px;
            border-radius: 5px;
            outline: 1px solid black;
        }

        .admin-songs-index .practiceButtonLink {
           font-weight: bold;
           font-size: 20px;
        }

        .admin-songs-index .practiceButtonWrapper {
            display: flex;
            justify-content: right;
        }

        .admin-songs-index .saveButton {
            width: 95%;
            color: black;
            outline: 2px solid black;
            height: 36px;
            font-size: 28px;
            margin-top: 8px;
            line-height: 1px;
            border-radius: 5px;
        }

        .admin-songs-index #statusColumnHeader {
            width: 5%;
        }

        .admin-songs-index .statusDropdown {
            font-size: 18px;
        }

        .admin-songs-index .statusForm {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .admin-songs-index #sheetMusicHeader {
            display: none;
        }

        .admin-songs-index .viewSheetMusicCell {
            display: none;
        }

        .admin-songs-index .yearCell {
            display: none;
        }

        .admin-songs-index #yearHeader {
            display: none;
        }

        .admin-upload-audio-file #uploadAudioFileForm {
            width: 65vw;
        }

        .admin-upload-sheet-music #uploadSheetMusicForm {
            width: 65vw;
        }

        .gigs-view h1, h2, h3, h4, h5, h6, p, a, i, u {
            font-family: 'Snowtop Caps', sans-serif;
        }

        .gigs-view  .gigPoster {
            height: 80vh;
            object-fit: contain;
            width: 100%;
        }

        .gigs-view  swiper-container {
            width: 100%;
        }

        .index h1, h2, h3, h4, h5, h6, p, a, i, u {
            font-family: 'Snowtop Caps', sans-serif;
        }

        .index  .instrumentPhoto {
            width: 40%;
        }

        .listen h1, h2, h3, h4, h5, h6, p, a, i, u {
            font-family: 'Snowtop Caps', sans-serif;
        }

        .listen  .audioPlayerHTML {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 40px;
            margin-bottom: 12px;
        }

        .new-gig #newGigForm {
            width: 75vw;
        }

        .new-song #add-new-song-button {
            width: 100%;
        }

        .new-song  #new-song-year {
            width: 85px
        }

        .photos #photoGalleryDiv {
            height: 700px;
        }

        .practice #addChordsButton {
            width: 163px;
            height: 34px;
            font-size: 16px;
        }

        .practice #addChordsLink {
            font-size: 16px;
            text-decoration: none;
            color: inherit;
        }

        .practice #addNoteButton {
            width: 163px;
            height: 34px;
            font-size: 16px;
        }

        .practice #addNoteLink {
            font-size: 16px;
            text-decoration: none;
            color: inherit;
        }

        .practice .chordsButtonsWrapper {
            display: flex;
            margin-bottom: 16px;
            align-items: flex-end;
        }

        .practice .chordsText {
            width: 96vw;
            height: 100vh;
            max-height: 100vh;
            margin-top: 16px;
            background-color: white;
            color: black;
        }

        .practice #deleteButton,
        .practice #editButton {
            margin-bottom: 6px;
        }

        .practice .deleteChordPageButton {
            width: 65px;
            margin-right: 4px;
            border-radius: 5px;
            color: black;
            font-weight: bold;
            font-size: 13px;
            height: 25px;
            border: 1px solid black;
        }

        .practice #editButton {
            width: 75px;
        }

        .practice .editChordPageText {
            font-size: 13px;
        }

        .practice .practiceNoteTextCell,
        .practice .practiceNoteFromCell,
        .practice .practiceNoteTimestampCell {
            font-size: 16px;
        }

        .practice #uploadSheetMusicButton {
            height: 36px;
            font-size: 15px;
        }

        .practice .viewSheetMusicButton {
            height: 36px;
            font-size: 15px;
        }

        .practice #youtubeUrl {
            width: 40vw;
            height: 36px;
            font-size: 15px;
            margin-bottom: 24px;
        }

        .practice #youtubeUrlButton {
            height: 40px;
            font-weight: bold;
        }

        .setlists label {
            font-size: 20px;
        }

        .setlists select {
            font-size: 20px;
            outline: 1px solid black;
        }

        .setlists #addSectionButton {
            border: 2px solid black;
            border-radius: 5px;
            color: black;
            font-weight: bold;
            font-size: 16px;
        }

        .setlists #mergePdfButton {
            border: 2px solid black;
            border-radius: 5px;
            color: black;
            font-weight: bold;
            font-size: 16px;
        }

        .setlists #outputFileNameInput {
            width: 50vw;
            outline: 2px solid black;
            margin-bottom: 32px;
        }

        .setlists .setlistLink {
            font-size: 20px;
            text-decoration: underline;
        }

        .songs-index  .addSheetMusicCell {
            display: none;
        }

        .songs-index  #sheetMusicHeader {
            display: none;
        }

        .songs-index  .viewSheetMusicCell {
            display: none;
        }

        .songs-index  .yearCell {
            display: none;
        }

        .songs-index  #yearHeader {
            display: none;
        }

        .upload-photo #uploadPhotoFileForm {
            width: 80vw;
        }

    }

            /* CSS rules for smartphone size */
            @media only screen and (min-width: 0px) and (max-width: 767px) {

                .container-fluid {
                    display: block;
                    width: auto;
                    padding-right: 5px;
                    padding-left: 5px;
                    margin-right: auto;
                    margin-left: auto;
                }

                .nav {
                    display: flex;
                    justify-content: center;
                }

                .nav-link {
                    font-family: 'Snowtop Caps', sans-serif;
                    font-size: 20px !important;
                    margin-right: 0px !important;
                    text-decoration: underline;
                    color: #000 !important;
                    background-color: transparent !important;
                    padding: 6px !important;
                }

                .titleHeaderFragment {
                    font-size: 42px !important;
                }

                .admin-songs-index .addSheetMusicCell {
                    display: none;
                }

                .admin-songs-index #sheetMusicHeader {
                    display: none;
                }

                .admin-songs-index .viewSheetMusicCell {
                    display: none;
                }

                .admin-songs-index .yearCell {
                    display: none;
                }

                .admin-songs-index #yearHeader {
                    display: none;
                }

                .gigsView h1, h2, h3, h4, h5, h6, p, a, i, u {
                    font-family: 'Snowtop Caps', sans-serif;
                }

                .gigs-view  .gigPoster {
                    object-fit: fill;
                    width: 100%;
                }

                .gigs-view swiper-container {
                    width: 90%;
                }

                .index h1, h2, h3, h4, h5, h6, p, a, i, u {
                    font-family: 'Snowtop Caps', sans-serif;
                }

                .index #bandText {
                    font-size: 36px !important;
                }

                .index .name {
                    font-size: 26px;
                    margin-top: 8px;
                }

                .index .instrumentPhoto {
                    width: 40%;
                }

                .index .instrumentsAndNames {
                    width: 100%;
                    margin: 0 0 32px 0 !important;
                }

                .index #photoCarousel {
                    width: 100%;
                }

                .listen h1, h2, h3, h4, h5, h6, p, a, i, u {
                    font-family: 'Snowtop Caps', sans-serif;
                }

                .listen #songTitle {
                    font-size: 20px;
                    text-align: center;
                }

                .photos #photoGalleryDiv {
                    height: 400px;
                }
            }

            /* Custom Audio Player CSS */
            audio::-webkit-media-controls-play-button {
                border: 3px solid black;
                text-shadow: none;
            }

            audio::-webkit-media-controls-current-time-display {
                font-size: 14px;
                color: black;
                text-shadow: none;
            }

            audio::-webkit-media-controls-time-remaining-display {
                font-size: 14px;
                color: black;
                text-shadow: none;
            }

            audio::-webkit-media-controls-mute-button {
                color: white;
                background-color: white;
            }

            audio::-webkit-media-controls-panel {
                background-color: white;
            }

            audio::-webkit-media-controls-enclosure {
                background-color: rgb(51,122,183);
                border: 3px solid black;
                color: white;
            }

            audio::-webkit-media-controls-timeline {
                color: black;
            }

