#titleHeaderFragment {
    font-family: 'Snowtop Caps', sans-serif !important;
}

.titleHeaderFragment:hover {
    color: white;
}

a {
    color: black;
}

h1, h2, h3, h4 {
    color: black;
}

body {
    background-color: #324c69 ;
}

