

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%;
    margin: auto;
}

.carouselPhoto {
    border: 2px solid black;
}



.instrumentsAndNames {
    text-align: center;
    width: 60%;
}

.instrumentPhoto {
    width: 15%;
}

.instrumentsAndNamesContainer {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.titleHeaderFragment:hover {
    color: white;
}

#titleHeaderFragment {
    font-family: 'Snowtop Caps', sans-serif !important;
    font-size: 20pt;
}