* { }

body {
    background: linear-gradient(to bottom, #527caa, ##2e4660);
}

#titleHeaderFragment {
    font-size: 20pt;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%;
    margin: auto;
}

.carouselPhoto {
    border: 2px solid black;
}

.instrumentsAndNames {
    text-align: center;
    width: 60%;
}

.instrumentsAndNamesContainer {
    margin: auto;
    width: 50%;
    padding: 10px;
}