.audioPlayerHTML {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
}

/* Custom Audio Player CSS */
audio::-webkit-media-controls-current-time-display {
    font-size: 16pt;
    color: black;
    text-shadow: none;
}

audio::-webkit-media-controls-time-remaining-display {
    font-size: 16pt;
    color: black;
    text-shadow: none;
}

audio::-webkit-media-controls-play-button {
    border: 3px solid black;
    text-shadow: none;
}

audio::-webkit-media-controls-mute-button {
    color: white;
    background-color: #576b52;
}

audio::-webkit-media-controls-panel {
    background-color: #576b52;
}

audio::-webkit-media-controls-enclosure {
    background-color: rgb(51,122,183);
    border: 3px solid black;
    color: white;
}

audio::-webkit-media-controls-timeline {
    color: black;
}