pre.chordsText {
    width:100%;
    max-width:100%;
    overflow: auto;
}

#noteColumnHeader {
    cursor: pointer;
}

#fromColumnHeader {
    cursor: pointer;
}

#dateColumnHeader {
    cursor: pointer;
}

#chordsText {
    height: 450px;
    font-family: monospace;
}



