pre.chordsText {
    width:99%;
    max-width:99%;
    overflow: auto;
}

@media (max-width: 975px) {
    pre.chordsText {
        width: 97.5%;
        max-width: 97.5%;
        overflow: auto;
    }
}

#noteColumnHeader {
    cursor: pointer;
}

#fromColumnHeader {
    cursor: pointer;
}

#dateColumnHeader {
    cursor: pointer;
}

