#practiceNoteTextHeader, .practiceNoteTextCell {
    max-width: 350px;
    word-wrap: break-word;
}

#practiceNoteFromHeader, .practiceNoteFromCell {
    width: 12.5%;
}

#practiceNoteDateHeader, .practiceNoteTimestampCell {
    width: 12.5%;
}

#practiceNoteEditButtonHeader, .practiceNoteEditButton {
    width: 12.5%;
}

#practiceNoteDeleteButtonHeader, .practiceNoteDeleteButton {
    width: 12.5%;
}

