.songIdDiv {
    display:none
}

.songTableHeader {
    cursor: pointer;
}

.tdCentered {
    text-align:center;
}

.table td {
    vertical-align: middle !important;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .addSheetMusicCell {
        display: none;
    }

    .viewSheetMusicCell {
        display: none;
    }

    .yearCell {
        display: none;
    }

    #yearHeader {
        display: none;
    }

    #sheetMusicHeader {
        display: none;
    }
}



