button {
  -webkit-appearance: none;
    -moz-appearance: none;
    color: black;
    background-color: white;
      }

td {
    font-size: 16px;
    height: 100px;
}

th {
    font-size: 16px;
}

.songTableHeader {
    cursor: pointer;
}

.tdCentered {
    text-align:center;
}

.table td {
    vertical-align: middle !important;
}



