@media only screen and (min-width: 768px) and (max-width: 1024px) {

    a {
        font-size: 24px;
    }

    button {
        font-size: 24px;
    }

    h2 {
        font-size: 32px
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 28px;
    }

    input {
        height: 34px;
        font-size: 24px;
    }

    label {
        font-size: 24px;
    }

    p {
        font-size: 22px;
    }

    td {
        font-size: 24px;
        height: 100px;
    }

    th {
        font-size: 24px;
    }

    .addSheetMusicCell {
        display: none;
    }

    .btn {
        font-size: 24px;
        height: 48px;
    }

    .container-fluid {
        padding-right: 45px;
        padding-left: 45px;
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .font-control-file {
        font-size: 22px;
        height: 38px;
    }

    .form-control {
        font-size: 24px;
        height: 48px;
    }

    .instrumentPhoto {
        width: 40%;
    }

    .titleHeaderFragment {
        font-size: 42px;
    }

    .selectedSong {
        font-size: 20px;
    }

    .viewSheetMusicCell {
        display: none;
    }

    .yearCell {
        display: none;
    }

    #noteText {
        width: 750px;
    }

    #sheetMusicHeader {
        display: none;
    }

    #yearHeader {
        display: none;
    }
}