* { }

a {
    color: black;
}

body {
    background: linear-gradient(to right, #527caa, #2e4660);
}

h1, h2, h3, h4 {
    color: black;
}

label, p, td, th {
    color: black;
}

.container-fluid {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15%;
    padding-right: 15%;
}