<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Freezeout Band</title>
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/Images/freezeout-icon.png}" />
    <link href="https://fonts.cdnfonts.com/css/snowtop-caps" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/css.css}">
    <script type="text/javascript" th:src="@{/javascript/arrange-photos.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/filterSongs.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/fragments.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/gigs.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/listen.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/admin-listen.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/admin-songs-notes.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/admin-songs.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/snowfallAnimation.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/zoom.js}"></script>
    <script type="text/javascript" th:src="@{/javascript/toggleDarkMode.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<header th:fragment="header-reg">
    <div class="titleHeaderFragmentWrapper">
        <a class="titleHeaderFragment" href="/" style="font-family: 'Snowtop Caps', sans-serif;">Freezeout Band</a>
    </div>
    <ul class="nav flex-center">
        <li style="font-family: 'Snowtop Caps', sans-serif; font-size:20px" class="nav-item"><a class="nav-link" href="/listen">Listen</a></li>
        <li style="font-family: 'Snowtop Caps', sans-serif; font-size:20px" class="nav-item"><a class="nav-link" href="/gigs">Gigs</a></li>
        <li style="font-family: 'Snowtop Caps', sans-serif; font-size:20px" class="nav-item"><a class="nav-link" href="/photos">Photos</a></li>
    </ul>
</header>

<header th:fragment="header-admin">
    <div class="titleHeaderFragmentWrapper">
        <a class="titleHeaderFragment" href="/" style="font-size: 34pt">Freezeout Band</a>
    </div>
    <div id="menuItemsWrapper">
        <p id="hamburgerIcon" class="regular-font" style="color:black; font-size:24px; cursor:pointer; padding-top:14px; padding-bottom:6px" onclick="toggleHamburger()">☰ Menu</p>
        <div id="adminPortalInfoPanel">
            <p id="adminPortalText" class="regular-font">Administrator Portal</p>
            <img id="wrenchIcon" th:src="@{/uploads/images/wrench.svg}" />
        </div>
    </div>
    <div id="hamburgerLinks" style="display:none; width:75%; outline: 2px solid black">
        <a class="nav-link hamburger-menu-item regular-font" style="padding-top:20px" href="/admin/songs">View All Songs</a>
        <a class="nav-link hamburger-menu-item regular-font" href="/admin/songs/new">Add New Song</a>
        <a class="nav-link hamburger-menu-item regular-font" href="/admin/songs/delete">Delete Songs</a>
        <hr style="border:0.5px solid black">
        <a class="nav-link hamburger-menu-item regular-font" href="/admin/listen">Customize Listen Page</a>
        <hr style="border:0.5px solid black">
        <a class="nav-link hamburger-menu-item regular-font" href="/admin/photos/upload-photo">Upload Photos</a>
        <a class="nav-link hamburger-menu-item regular-font" href="/admin/photos">Arrange Photos</a>
        <a class="nav-link hamburger-menu-item regular-font" href="/admin/photos/delete-photos">Delete Photos</a>
        <hr style="border:0.5px solid black">
        <a class="nav-link hamburger-menu-item regular-font" href="/admin/gigs/new">Add New Gig</a>
        <a class="nav-link hamburger-menu-item regular-font" href="/admin/gigs/delete">Delete Gigs</a>
        <hr style="border:0.5px solid black">
        <a class="nav-link hamburger-menu-item regular-font" href="/admin/upload/sheet-music">Upload Sheet Music/Audio File</a>
        <hr style="border:0.5px solid black">
        <a class="nav-link hamburger-menu-item regular-font" href="/admin/setlists">Create/View Setlists</a>
        <hr style="border:0.5px solid black">
        <a class="nav-link hamburger-menu-item regular-font" style="padding-bottom:20px" href="/logout">Logout</a>
    </div>
</header>

<footer th:fragment="socialsFooter" class="footer mt-auto" style="position: absolute; bottom: 0; left: 0; right: 0">
    <center>
        <h2 style="font-family: 'Snowtop Caps', sans-serif;">Connect</h2>
        <a href="mailto:freezeoutband@protonmail.com"><img th:src="@{/uploads/images/email.png}" style="height:45px"></a>
        <a href="https://www.facebook.com/groups/2038487942848670/"><img th:src="@{/uploads/images/fb.png}" style="height:35px"></a>
        <a href="https://soundcloud.com/user-942929295"><img th:src="@{/uploads/images/soundcloud.png}"></a>
        <br>
    </center>
</footer>

<th:block th:fragment="filterBar">
    <div class="form-group">
        <label style="font-size: 16px;" class="regular-font">Filter Songs:</label>
        <input style="outline: 2px solid black; font-size: 16px;" type="text" id="filterInput" class="form-control" placeholder="Type to filter by song or artist">
    </div>
</th:block>

<div th:fragment="directionsFragment" class="gigMapLinks">
    <h3 id="directionsHeader">Directions</h3>
    <div id="iconsContainer">
        <!-- Apple Maps -->
        <a th:href="'http://maps.apple.com/?q=' + ${gig.address}" target="_blank" rel="noopener noreferrer">
            <img th:src="@{/uploads/images/apple-maps-icon.png}" class="mapIcon" style="width:40px; height:40px;">
        </a>

        <!-- Google Maps -->
        <a th:href="'https://www.google.com/maps/search/?api=1&query=' + ${gig.address}" target="_blank" rel="noopener noreferrer">
            <img th:src="@{/uploads/images/google-maps-icon.svg}" class="mapIcon" style="width:40px; height:40px;">
        </a>
    </div>
</div>

<h3 th:fragment="timeFragment" th:if="${gig.time != null}" style="margin-bottom: 0.5rem;">
    <span th:text="${gig.time}"></span>
</h3>

</html>