<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">


<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title>Freezeout Band</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" th:href="@{/Images/freezeout-icon.png}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/CSS/css.css}">
    <script type="text/javascript" th:src="@{/JavaScript/delete.js}"></script>
    <script type="text/javascript" th:src="@{/JavaScript/gigs.js}"></script>
    <script type="text/javascript" th:src="@{/JavaScript/listen.js}"></script>
    <script type="text/javascript" th:src="@{/JavaScript/notes.js}"></script>
    <script type="text/javascript" th:src="@{/JavaScript/photos.js}"></script>
    <script type="text/javascript" th:src="@{/JavaScript/songs.js}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>


<header th:fragment="header-reg">
    <a class="titleHeaderFragment" href="/" style="font-size: 32pt">Freezeout Band</a>
    <ul class="nav">
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/listen">Listen</a></li>
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/gigs">Gigs</a></li>
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/photos">Photos</a></li>
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/login">Login</a></li>
    </ul>
</header>


<header th:fragment="header-admin">
    <a class="titleHeaderFragment" href="/" style="font-size: 32pt">Freezeout Band</a>
    <ul class="nav">
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/admin/listen">Listen</a></li>
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/admin/photos">Photos</a></li>
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/admin/gigs/new">New Gig</a></li>
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/admin/gigs/delete">Delete Gigs</a></li>
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/admin/songs">All Songs</a></li>
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/admin/songs/new">New Song</a></li>
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/admin/upload/sheet-music">Upload Files</a></li>
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/admin/songs/delete">Delete Songs</a></li>
        <li style="font-size:18px" class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
    </ul>
</header>

<footer th:fragment="socialsFooter">
    <footer style="bottom: 5%;">
        <center>
            <h2>Connect</h2>
            <a href="mailto:freezeoutband@protonmail.com"><img th:src="@{/uploads/images/email.png}" style="height:45px"></a>
            <a href="https://www.facebook.com/groups/2038487942848670/"><img th:src="@{/uploads/images/fb.png}" style="height:35px"></a>
            <a href="https://soundcloud.com/user-942929295"><img th:src="@{/uploads/images/soundcloud.png}"></a>
            <br>
        </center>
    </footer>
</footer>


</html>
