<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-reg"></header>
<body class="container-fluid gigs-view">

<div class="snowfall-container"></div>

<div class="upcomingGigsDiv" th:with="upcomingGigs=${allGigs.?[date > T(java.time.LocalDate).now()]}">

    <!-- Swiper only if more than one gig -->
    <div class="upcomingGigs" th:if="${#lists.size(upcomingGigs) > 1}">
        <swiper-container class="mySwiper" navigation="true" space-between="30" loop="true">
            <th:block th:each="gig : ${upcomingGigs}">
                <swiper-slide>
                    <img class="gigPoster" th:src="@{/uploads/gig-posters/{poster}(poster=${gig.image})}">
                    <h3 th:replace="fragments :: timeFragment"></h3>
                    <div th:replace="fragments :: directionsFragment"></div>
                </swiper-slide>
            </th:block>
        </swiper-container>
    </div>

    <!-- Single gig without swiper -->
    <div th:if="${#lists.size(upcomingGigs) == 1}" th:each="gig : ${upcomingGigs}">
        <img class="gigPoster" th:src="@{/uploads/gig-posters/{poster}(poster=${gig.image})}">
        <h3 th:replace="fragments :: timeFragment"></h3>
        <div th:replace="fragments :: directionsFragment"></div>
    </div>

    <!-- No upcoming gigs -->
    <div th:if="${#lists.size(upcomingGigs) == 0}" id="noUpcomingGigsContainer">
        <i id="noUpcomingGigsText">No upcoming gigs. Stay tuned!</i>
    </div>

</div>

</body>

</html>