<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-reg"></header>
<body class="container-fluid gigs-view">

<div class="upcomingGigsDiv">
    <h2>Upcoming Gigs</h2>
    <div class="upcomingGigs" th:if="${#lists.size(allGigs.?[date > T(java.time.LocalDate).now()]) > 1}">
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30" loop="true">
            <th:block th:if="${gig.date > T(java.time.LocalDate).now()}" th:each="gig : ${allGigs}">
                <swiper-slide>
                    <img class="gigPoster" th:src="@{/uploads/gig-posters/{poster}(poster=${gig.image})}">
                </swiper-slide>
            </th:block>
        </swiper-container>
    </div>
    <div th:if="${#lists.size(allGigs.?[date > T(java.time.LocalDate).now()]) == 1}" th:each="gig : ${allGigs}">
        <img class="gigPoster" th:src="@{/uploads/gig-posters/{poster}(poster=${gig.image})}">
    </div>
    <div th:if="${#lists.size(allGigs.?[date > T(java.time.LocalDate).now()]) == 0}">
        <i id="noUpcomingGigsText">None right now. Stay tuned!</i>
    </div>
</div>

<div class="pastGigsDiv" th:if="${#lists.size(allGigs.?[date < T(java.time.LocalDate).now()]) > 0}">
    <h2>Past Gigs</h2>
    <div class="pastGigSlides" th:if="${#lists.size(allGigs.?[date < T(java.time.LocalDate).now()]) > 1}">
        <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30" loop="true">
            <th:block th:if="${gig.date < T(java.time.LocalDate).now()}" th:each="gig : ${allGigs}">
                <swiper-slide>
                    <img class="gigPoster" th:src="@{/uploads/gig-posters/{poster}(poster=${gig.image})}">
                </swiper-slide>
            </th:block>
        </swiper-container>
    </div>
    <div class="pastGigSlides" th:if="${#lists.size(allGigs.?[date < T(java.time.LocalDate).now()]) == 1}" th:each="gig : ${allGigs}">
        <img class="gigPoster" th:src="@{/uploads/gig-posters/{poster}(poster=${gig.image})}">
    </div>
</div>

</body>

</html>