<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-reg"></header>

<body class="container-fluid">

<div id="photoCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

        <div class="item">
            <img th:src="@{/uploads/images/Defiance-Christmas-Parade-2022.jpg}" class="carouselPhoto">
        </div>

        <div class="item">
            <img th:src="@{/uploads/images/Freezeout-Land-1.jpg}" class="carouselPhoto">
        </div>

        <div class="item active">
            <img th:src="@{/uploads/images/CA2022.jpg}" class="carouselPhoto">
        </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#photoCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="right carousel-control" href="#photoCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div>
    <h1 style="text-align:center">Band</h1>
    <center>
        <div class="instrumentsAndNamesContainer">
            <div class="instrumentsAndNames">
                <img th:src="@{/uploads/images/mic.svg}" alt="Name1" class="instrumentPhoto">
                <h4>Jason</h4>
            </div><br>

            <div class="instrumentsAndNames">
                <img th:src="@{/uploads/images/mic.svg}" alt="Name1" class="instrumentPhoto">
                <h4>Alli</h4>
            </div><br>

            <div class="instrumentsAndNames">
                <img th:src="@{/uploads/images/trumpet.svg}" alt="Name1" class="instrumentPhoto">
                <img th:src="@{/uploads/images/mandolin.svg}" alt="Name1" class="instrumentPhoto">
                <img th:src="@{/uploads/images/electric-guitar.svg}" alt="Name1" class="instrumentPhoto">
                <img th:src="@{/uploads/images/harp.svg}" alt="Name1" class="instrumentPhoto">
                <h4>Terry</h4>
            </div><br>

            <div class="instrumentsAndNames">
                <img th:src="@{/uploads/images/electric-guitar.svg}" alt="Name1" class="instrumentPhoto">
                <h4>Greg</h4>
            </div><br>

            <div class="instrumentsAndNames">
                <img th:src="@{/uploads/images/bass.svg}" alt="Name1" class="instrumentPhoto">
                <h4>Nick</h4>
            </div><br>

            <div class="instrumentsAndNames">
                <img th:src="@{/uploads/images/drums.svg}" alt="Name1" class="instrumentPhoto">
                <h4>Ken</h4>
            </div><br>

            <div class="instrumentsAndNames">
                <img th:src="@{/uploads/images/mixer.png}" alt="Name1" class="instrumentPhoto">
                <h4>Doug</h4>
            </div><br>
        </div>
    </center>
</div>

<br>

<footer>
    <center>
        <h2>Connect</h2>
        <a href="mailto:freezeoutband@protonmail.com"><img th:src="@{/uploads/images/email.png}" style="height:45px"></a>
        <a href="https://www.facebook.com/groups/2038487942848670/"><img th:src="@{/uploads/images/fb.png}" style="height:35px"></a>
        <a href="https://soundcloud.com/user-942929295"><img th:src="@{/uploads/images/soundcloud.png}"></a>
        <br>
    </center>
</footer>

</body>

</html>