<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-reg"></header>

<body class="container">

<div class="table table-striped">
    <div>
        <th:block  th:each="song : ${allSongs}">
            <div th:if="${song.songUploadFileName != null}">
                <h3 id="songTitle" th:text="${song.songName} + ' - ' + ${song.songDetails.originalArtist}"></h3>
            </div>
            <div th:if="${song.songUploadFileName != null}">
                <audio class="audioPlayerHTML" controls>
                    <source th:src="@{${'/uploads/' + song.songUploadFileName}}" type="audio/wav">
                </audio>
            </div>
        </th:block>
    </div>
</div>

</body>

</html>