<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-reg"></header>

<body class="container-fluid login">

<h1 class="view-header regular-font">Administrator Portal Login</h1>
<div class="flex-center">
    <form id="bandLoginForm" method="post">
        <div class="form-group">
            <label th:for="username">Username</label>
            <input class="usernameInput form-control" th:field="${loginFormDTO.username}">
            <p class="error" th:errors="${loginFormDTO.username}"></p>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="passwordInput form-control" th:field="${loginFormDTO.password}" type="password">
            <p class="error" th:errors="${loginFormDTO.password}"></p>
        </div>
        <div class="form-group">
            <input id="loginButton" type="submit" class="btn btn-success" value="Log In" />
        </div>
    </form>
</div>

<!--Creates a cookie that persists across all pages. Cookie is null if user is logged out-->
<!--Use: window.location.href = ""; to set where a successful login redirects a user to-->
<!--View all of this in Chrome: Inspect Element -> Application -> Storage -> Cookies -> http://localhost:8080 -->    
<script th:inline="javascript">
document.cookie = "userId=[[${userId}]]";
const userId = getCookie("userId");

if (userId) {
  window.location.href = "/";
}

function getCookie() {
  const cookie = document.cookie;
  if (cookie.length > 0) {
    return parseInt(cookie.split("=")[1]);
  }
  return null;
}
</script>    
    
</body>
</html>
