<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-reg"></header>
<body class="container-fluid photos">

<div id="photoGalleryDiv">
    <swiper-container class="mySwiper" thumbs-swiper=".mySwiper2" space-between="10" navigation="true">
        <th:block th:each="photo : ${photos}" >
            <swiper-slide style="position: relative;">
                <img th:src="@{'/uploads/photos/' + ${photo.url} }" />
                <p class="credit-text" th:text="${photo.credit}"></p>
            </swiper-slide>
        </th:block>
    </swiper-container>
    <br>
    <swiper-container class="mySwiper2" space-between="10" slides-per-view="5" free-mode="true" watch-slides-progress="true">
        <th:block th:each="photo : ${photos}">
            <swiper-slide>
                <img th:src="@{'/uploads/photos/' + ${photo.url} }" />
            </swiper-slide>
        </th:block>
    </swiper-container>
</div>

</body>

<style>
    .credit-text {
    color: white;
    position: absolute;
    bottom: 0;
    left: 90%;
    transform: translateX(-50%);
    font-size: 11px;
}
</style>
</html>
