<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-reg"></header>
<body class="container-fluid videos">

<div class="snowfall-container"></div>

<div id="videosDiv">
    <div>
        <h1 class="videoTitle">Starting Over - Chris Stapleton</h1>
        <video src="/uploads/videos/StartingOverOxFest.mp4" controls />
    </div>
    <div>
        <h1 class="videoTitle">Take It Easy - Eagles</h1>
        <video src="/uploads/videos/TakeItEasyOxFest.mp4" controls />
    </div>
    <div>
        <h1 class="videoTitle">Strawberry Wine - Deana Carter</h1>
        <video src="/uploads/videos/StrawberryWineOxFest.mp4" controls />
    </div>
    <div>
        <h1 class="videoTitle">Feathered Indians - Tyler Childers</h1>
        <video src="/uploads/videos/FeatheredIndiansOxFest.mp4" controls />
    </div>
    <div>
        <h1 class="videoTitle">Heavy Eyes - Zach Bryan</h1>
        <video src="/uploads/videos/HeavyEyesOxFest.mp4" controls />
    </div>
    <div>
        <h1 class="videoTitle">Mountain Dew</h1>
        <video src="/uploads/videos/MountainDewOxFest.mp4" controls />
    </div>
    <div>
        <h1 class="videoTitle">Love Somebody</h1>
        <video src="/uploads/videos/LoveSomebodyOxFest.mp4" controls />
    </div>
</div>

</body>
<br><br><br>
<footer th:replace="fragments :: socialsFooter"></footer>

</html>
