<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header"></header>

<body class="container">

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">

        <h2>Upload Sheet Music (.pdf)</h2>
        <p th:text="${message}" th:if="${message ne null}" class="alert alert-primary"></p>
        <form method="post" th:action="@{/upload/sheet-music}" enctype="multipart/form-data">
          <hr>
          <h3>Select Song:</h3>
          <select class="form-control" name="sheetId" id="sheetId">
            <option th:each="option : ${songsForDropdown}"  th:text="${option.songName}" th:value="${option.id}" ></option>
          </select>
          <br>
          <br>
          <div class="form-group">
            <input type="file" name="file" class="form-control-file">
          </div>
          <button type="submit" class="btn btn-primary">Upload File</button>
          <button> <a class="btn secondary" href="/upload/audio-file">Skip</a> </button>
        </form>
      </div>
    </div>
  </div>
</section>

</body>
</html>