<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid add-chords-to-practice">

<h1 class="view-header regular-font">Add Chord Page</h1>

<form method="post">
   <div class="form-group">
         <textarea id="textArea" class="form-control" th:field="${songChords.chordsText}"></textarea>
   </div>
   <div class="form-group">
      <label id="addedByLabel">Added By:
         <select th:field="${songChords.addedBy}" class="form-control">
            <option th:value="DH">DH</option>
            <option th:value="NH">NH</option>
            <option th:value="TK">TK</option>
            <option th:value="JL">JL</option>
            <option th:value="AM">AM</option>
            <option th:value="GM">GM</option>
            <option th:value="KM">KM</option>
         </select>
      </label>
   </div>
   <input id="submitButton" class="btn btn-success" type="submit" onclick="history.back()">
</form>

</body>
</html>