<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid admin-songs-delete">

<h3 class="view-header regular-font">Delete Songs</h3>

<div class="form-group">
    <h4 class="regular-font">Filter Songs:</h4>
    <input type="text" id="filterInput" class="form-control">
</div>

<form method="post">
<table class="table table-hover" id="myTable">
    <thead>
        <tr>
            <th>Delete</th>
            <th class="songTableHeader" onclick="sortTable(1)">Song</th>
            <th class="songTableHeader" onclick="sortTable(2)">Original Artist</th>
            <th class="songTableHeader" onclick="sortTable(3)">Year</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="song : ${songs}">
            <td>
                <div>
                    <input type="checkbox" name="songIds" th:value="${song.id}" class="form-control align-middle bigCheckbox">
                </div>
            </td>
            <td class="align-middle" th:text="${song.songName}"></td>
            <td class="align-middle" th:text="${song.songDetails.originalArtist}"></td>
            <td class="align-middle" th:text="${song.songDetails.year}"></td>
        </tr>
    </tbody>
</table>
<input type="submit" value="Delete" class="btn btn-danger">
</form>

</body>

</html>