<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>

<body class="container">

<table class="table table-striped" id="myTable">
    <thead>
        <tr>
            <th>Delete</th>
            <th class="songTableHeader" onclick="sortTable(0)">Song</th>
            <th class="songTableHeader" onclick="sortTable(1)">Original Artist</th>
            <th class="songTableHeader" onclick="sortTable(2)">Year</th>
        </tr>
    </thead>
    <tr th:each="song : ${songs}">
        <td>
        <form method="post">
            <div class="form-group">
                <label>
                    <input type="checkbox" name="songIds" th:value="${song.id}" class="form-control">
                </label>
            </div>
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
        </td>
        <td th:text="${song.songName}"></td>
        <td th:text="${song.songDetails.originalArtist}"></td>
        <td th:text="${song.songDetails.year}"></td>

    </tr>
</table>

</body>
</html>