<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid edit-note">

<h1 class="view-header regular-font">Edit Note</h1>

<form method="post" th:action="@{/admin/songs/practice/__${songId}__/edit-note/__${noteId}__}">
    <div class="form-group">
        <input id="editNoteInput" name="newSongNoteText" th:value="${songNoteText}">
    </div>
    <button class="btn btn-success" type="submit">Confirm</button>
</form>

</body>
</html>