<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid admin-songs-index">

<script>
    window.onload = function () {
        sortTable(1);
    }
</script>

<h1 class="view-header">All Songs</h1>

<table class="table table-hover" id="myTable">
    <thead>
        <tr>
            <th class="songTableHeader" onclick="sortTable(0)">Status</th>
            <th class="songTableHeader" onclick="sortTable(1)">Song</th>
            <th class="songTableHeader" onclick="sortTable(2)">Artist</th>
            <th class="songTableHeader" id="yearHeader" onclick="sortTable(3)">Year</th>
            <th class="songTableHeader tdCentered" id="sheetMusicHeader" onclick="sortTable(4)">Sheet Music</th>
            <th class="tdCentered">Practice</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="song : ${songs}">
            <td>
                <form method="post" th:action="@{/admin/songs/status}">
                    <div class="songIdDiv">
                        <p th:text="${song.status}"></p>
                        <p th:text="${song.id}"></p>
                        <input class="songIdInput" name="id" type="text" th:value="${song.id}">
                    </div>
                    <select class="statusDropdown" name="status" onclick="showSaveButton()">
                        <option th:each="option : ${options}"  th:value="${option}" th:text="${option}" th:selected="${option == song.status}"></option>
                    </select>
                    <br>
                    <button class="saveButton btn btn-success"type="submit" style="display:none;">Save</button>
                </form>
            </td>
            <td th:text="${song.songName}"></td>
            <td th:text="${song.songDetails.originalArtist}"></td>
            <td class="yearCell" th:text="${song.songDetails.year}"></td>
            <td class="tdCentered addSheetMusicCell" th:if="${song.songSheetMusic == null}">
                <a th:href="@{/upload/sheet-music}">
                    <button>➕ Add</button>
                </a>
            </td>
            <td class="tdCentered viewSheetMusicCell" th:if="${song.songSheetMusic != null}">
                <a th:href="@{/uploads/sheet-music/{name}(name=${song.songSheetMusic})}"/>🎼</a>
            </td>
            <td class="tdCentered">
                <a id="practiceButtonLink" th:href="@{/admin/songs/practice/{songId}(songId=${song.id})}">
                    <button>Practice</button>
                </a>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>