<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container">
<script>
    window.onload = function () {
        sortTable(0);

    }
</script>
<h3>All Songs</h3>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th class="songTableHeader" onclick="sortTable(0)">Status</th>
            <th class="songTableHeader" onclick="sortTable(1)">Song</th>
            <th class="songTableHeader" onclick="sortTable(2)">Original Artist</th>
            <th class="songTableHeader" onclick="sortTable(3)">Year</th>
            <th class="tdCentered" onclick="sortTable(4)">Sheet Music</th>
            <th class="tdCentered">Practice</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="song : ${songs}">
            <td>
                <form method="post" th:action="@{/admin/songs/status}">
                    <div style="display:none;">
                        <p th:text="${song.status}"></p>
                        <p class="songId" th:text="${song.id}"></p>
                        <input class="songIdInput" name="id" type="text" th:value="${song.id}">
                    </div>
                    <select class="statusDropdown" name="status" onclick="showSaveButton()">
                        <option th:each="option : ${options}"  th:value="${option}" th:text="${option}" th:selected="${option == song.status}">
                        </option>
                    </select>
                    <button class="saveButton" type="submit" style="display:none;">Save</button>
                </form>
            </td>
            <td th:text="${song.songName}"></td>
            <td th:text="${song.songDetails.originalArtist}"></td>
            <td th:text="${song.songDetails.year}"></td>
            <td class="tdCentered" th:if="${song.songSheetMusic == null}"><a th:href="@{/upload/sheet-music}"><button>➕ Add</button></a></td>
            <td class="tdCentered" th:if="${song.songSheetMusic != null}"><a th:href="@{/uploads/{name}(name=${song.songSheetMusic})}"/>🎼</a></td>
            <td class="tdCentered"><a style="color:inherit;" th:href="@{/admin/songs/notes/{songId}(songId=${song.id})}"><button>Practice</button></a></td>
        </tr>
    </tbody>
</table>

</body>
</html>