<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>

<script>
    window.onload = function () {
        sortTable(1, 'allSongsTable');
    }
</script>

<body class="container-fluid admin-songs-index">
    <h1 class="view-header">All Songs</h1>
    <div th:replace="fragments :: filterBar"></div>
    <table class="table table-hover" id="allSongsTable">
        <thead>
            <tr>
                <th id="statusColumnHeader" class="cursor-pointer" onclick="sortTable(0, 'allSongsTable')">Status</th>
                <th class="cursor-pointer" onclick="sortTable(1, 'allSongsTable')">Song</th>
                <th class="cursor-pointer" onclick="sortTable(2, 'allSongsTable')">Artist</th>
                <th class="cursor-pointer" id="yearHeader" onclick="sortTable(3)">Year</th>
                <th class="cursor-pointer tdCentered" id="sheetMusicHeader" onclick="sortTable(4)">Sheet Music</th>
                <th class="tdCentered"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="song : ${songs}">
                <td>
                    <form class="statusForm" method="post" th:action="@{/admin/songs/status}">
                        <div class="songIdDiv">
                            <p th:text="${song.status}"></p>
                            <p th:text="${song.id}"></p>
                            <input class="songIdInput" name="id" type="text" th:value="${song.id}">
                        </div>
                        <select class="statusDropdown" onclick="showSaveButton()" name="status">
                            <option th:each="option : ${options}"  th:value="${option}" th:text="${option}" th:selected="${option == song.status}"></option>
                        </select>
                        <button class="saveButton btn btn-success regular-font" type="submit" style="display:none;">✔</button>
                    </form>
                </td>
                <td th:text="${song.songName}"></td>
                <td th:text="${song.songDetails.originalArtist}"></td>
                <td class="yearCell" th:text="${song.songDetails.year}"></td>
                <td class="tdCentered addSheetMusicCell" th:if="${song.songSheetMusic == null}">
                    <a th:href="@{/admin/upload/sheet-music}" class="linkInButton regular-font">
                        <button class="btn btn-light regular-font">➕ Add</button>
                    </a>
                </td>
                <td class="tdCentered viewSheetMusicCell" th:if="${song.songSheetMusic != null}">
                    <a th:href="@{/uploads/sheet-music/{name}(name=${song.songSheetMusic})}" class="regular-font sheetMusicIcon"/>🎼</a>
                </td>
                <td class="tdCentered">
                    <div class="practiceButtonWrapper">
                        <a th:href="@{/admin/songs/practice/{songId}(songId=${song.id})}" class="practiceButtonLink regular-font">
                            <button class="btn btn-light practiceButton regular-font">Practice</button>
                        </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>