<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid new-song">

<h3 class="regular-font view-header">Add New Song</h3>

<div class="flex-center">
    <form id="new-song-form" method="post" th:action="@{/admin/songs/new}">
        <div class="form-group">
            <label class="new-song-form-label">Name</label>
            <input th:field="${song.songName}" class="form-control new-song-form-input">
            <p class="error" th:errors="${song.songName}"></p>
        </div>
        <div class="form-group">
            <label class="new-song-form-label">Original Artist</label>
            <input class="form-control new-song-form-input" th:field="${song.songDetails.originalArtist}">
            <p class="error" th:errors="${song.songDetails.originalArtist}"></p>
        </div>
        <div class="form-group">
            <label class="new-song-form-label">Year (Optional)</label>
            <input id="new-song-year" class="form-control new-song-form-input" th:field="${song.songDetails.year}">
        </div>
        <div class="form-group">
            <label class="new-song-form-label">Key (Optional)</label>
            <input id="new-song-key" class="form-control new-song-form-input" th:field="${song.songDetails.songKey}">
        </div>
        <div class="form-group">
            <label class="new-song-form-label">YouTube Link (Optional)</label>
                <br>
                <i class="regular-font new-song-form-label">Example: https://www.youtube.com/watch?v=4zAThXFOy2c</i>
                <input class="form-control new-song-form-input" th:field="${song.songDetails.youtubeURL}">
        </div>
        <div class="form-group">
            <input id="add-new-song-button" type="submit" value="Create" class="btn btn-success">
        </div>
    </form>
</div>

</body>
</html>