<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>
<body class="container-fluid new-song">

<h3>Add New Song: </h3>

<form method="post" th:action="@{/admin/songs/new}">
    <div class="form-group">
        <label>Name
            <input th:field="${song.songName}" class="form-control">
        </label>
        <p class="error" th:errors="${song.songName}"></p>
    </div>
    <div class="form-group">
        <label>Original Artist
            <input class="form-control" th:field="${song.songDetails.originalArtist}">
        </label>
        <p class="error" th:errors="${song.songDetails.originalArtist}"></p>
    </div>
    <div class="form-group">
        <label>YouTube Link (Optional)
            <p>Example: https://www.youtube.com/watch?v=4zAThXFOy2c</p>
            <input class="form-control" th:field="${song.songDetails.youtubeURL}">
        </label>
        <p class="error" th:errors="${song.songDetails.youtubeURL}"></p>
    </div>
    <div class="form-group">
        <label>Year (Optional)
            <input class="form-control" th:field="${song.songDetails.year}">
        </label>
        <p class="error" th:errors="${song.songDetails.year}"></p>
    </div>
    <div class="form-group">
        <label>Key (Optional)
            <input class="form-control" th:field="${song.songDetails.songKey}">
        </label>
        <p class="error" th:errors="${song.songDetails.songKey}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>

</body>
</html>