<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<header th:replace="fragments :: header-admin"></header>

<body class="container">

<h2 th:text="${song.songName} + ' - ' + ${song.songDetails.originalArtist} + ' - ' + ' Notes'"></h2>
<a th:href="@{/uploads/{name}(name=${song.songSheetMusic})}"/>
    <button>🎼 View Sheet Music PDF</button>
</a><hr>

<h3>Youtube Video:</h3><br>

<div th:utext="${youtubeEmbedHTML}"></div>

<form method="post" th:action="@{/admin/songs/notes/{songId}/change-url(songId=${song.id})}">
    <label for="value">Enter a new YouTube URL:</label><br>
    <input type="text" id="value" name="value">
    <button type="submit">Submit</button>
</form>

<br>
<hr>

<button onclick="toggleNotesChordPage()">Notes</button>
<button onclick="toggleNotesChordPage()">Chord Page</button>

<div id="notesDiv" style="display:"";">
    <br>
    <a th:href="@{./{songId}/add-notes(songId=${song.id})}">Add Note</a>
    <table id="songNotesTable" class="table table-striped">
        <thead>
            <tr>
                <th>Note</th>
                <th>From</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="note : ${songNotesCollection}">
                <td th:text="${note.noteText}"></td>
                <td th:text="${note.addedBy}"></td>
                <td th:text="${note.timestamp}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div id="chordsDiv" style="display:none;">
    <br>
    <a th:href="@{./{songId}/add-chords(songId=${song.id})}">Add Chords</a>
    <table id="chordsTable">
        <tbody>️️
            <tr th:each="songChords : ${songChordsCollection}" style=>
                <td>️
                    <p th:text="'Posted By: ' + ${songChords.addedBy} + ' at ' + ${songChords.timestamp}"></p>
                    <input class="printButton" onclick="printText(this)" type="button" value="Print"/>
                    <pre class="chordsText" th:utext="${songChords.chordsText}" ></pre>️
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>

<script>
function printText(input) {
    let i = Number(`${input.parentNode.parentNode.rowIndex}`);
    const chordsText = document.getElementsByClassName("chordsText");
    const w = window.open();
    w.document.write('<div style="white-space: pre-wrap">' + chordsText[i].innerHTML + '</div>');
    w.print();
    w.close();
}
</script>

<script>
function toggleNotesChordPage() {
    notesDiv = document.getElementById("notesDiv");
    chordsDiv = document.getElementById("chordsDiv");
    if (notesDiv.style.display === "" ) {
        notesDiv.style.display = "none";
        chordsDiv.style.display = "";
    } else {
        notesDiv.style.display = "";
        chordsDiv.style.display = "none";
    }
}
</script>

</html>