<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

    <head th:replace="fragments :: head"></head>
    <header th:replace="fragments :: header-admin"></header>

    <body class="container-fluid practice">
        <h1 id="practicePageHeader" class="view-header no-space-after regular-font">Practice Page</h1>
        <h2 id="artistAndTitleText" class="regular-font" th:text="${song.songName} + ' - ' + ${song.songDetails.originalArtist}"></h2>

        <th:block th:if="${song.songSheetMusic != null}">
            <a th:href="@{/uploads/sheet-music/{name}(name=${song.songSheetMusic})}" class="linkInButton regular-font">
                <button class="btn btn-light viewSheetMusicButton regular-font">🎼 View Sheet Music</button>
            </a>
            <a th:href="@{/uploads/sheet-music/{name}(name=${song.songSheetMusic})}" class="linkInButton regular-font" target="_blank">
                <button class="btn btn-light viewSheetMusicButton regular-font">🎼 View Sheet Music in New Tab</button>
            </a>
            <hr>
        </th:block>
        <th:block th:else>
            <a th:href="@{/admin/upload/sheet-music}" class="linkInButton regular-font">
                <button id="btn btn-light uploadSheetMusicButton" class="btn btn-light regular-font">📁 Upload Main Sheet Music PDF</button>
            </a>
            <hr>
        </th:block>

        <h3 class="regular-font">YouTube Video:</h3>

        <div id="youtubeVideoContainer" th:utext="${youtubeEmbedHTML}"></div>

        <form method="post" th:action="@{/admin/songs/practice/{songId}/change-url(songId=${song.id})}">
            <label id="youtubeUrlLabel" for="youtubeUrl">Link:</label>
            <div id="youtubeUrlWrapper">
                <input id="youtubeUrl" class="form-control" placeholder="E.g. https://www.youtube.com/watch?v=lI-BMDnti4c" name="youtubeUrl">
                <button id="youtubeUrlButton" class="btn btn-success" type="submit">Submit</button>
            </div>
        </form><hr>

        <button id="notesButton" class="btn btn-light" onclick="toggleNotesChordPage('notes')">Notes</button>
        <button id="chordsButton" class="btn btn-light" onclick="toggleNotesChordPage('chords')">Chords & Tabs</button>

        <div id="notesDiv" style="display:;">
            <a id="addNoteLink" class="regular-font " th:href="@{./{songId}/add-notes(songId=${song.id})}">
                <button id="addNoteButton" class="btn btn-success">Add Note</button>
            </a>
            <th:block th:if="${songNotesCollection.size() > 0}">
                <table id="myTable" class="table">
                    <thead>
                        <tr>
                            <th id="practiceNoteTextHeader" onclick="sortTable(0)">Note</th>
                            <th id="practiceNoteFromHeader" onclick="sortTable(1)">From</th>
                            <th id="practiceNoteTimestampHeader" onclick="sortTable(2)">Date</th>
                            <th id="practiceNoteButtonsHeader"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="note : ${songNotesCollection}">
                            <td class="practiceNoteTextCell" th:text="${note.noteText}"></td>
                            <td class="practiceNoteFromCell" th:text="${note.addedBy}"></td>
                            <td class="practiceNoteTimestampCell" th:text="${#dates.format(note.timestamp, 'yyyy-MM-dd')}"></td>
                            <td class="practiceNoteButtonsCell">
                                <div class="practiceNoteButtonsWrapper">
                                    <a class="editButtonLink regular-font" th:href="@{'/admin/songs/practice/' + ${song.id} + '/edit-note/' + ${note.id} }">
                                        <button class="btn btn-light editButton">Edit</button>
                                    </a>
                                    <form method="post" th:action="@{/admin/songs/practice/{songId}/delete-note(songId=${song.id})}">
                                        <input name="noteId" th:value="${note.id}" hidden>
                                        <button class="btn btn-danger deleteButton" type="submit">Delete</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </th:block>
        </div>

        <div id="chordsDiv" style="display:none;">
            <a id="addChordsLink" class="linkInButton regular-font" th:href="@{./{songId}/add-chords(songId=${song.id})}">
                <button id="addChordsButton" class="btn btn-success">Add Chords</button>
            </a>
            <table>️
                <tr th:each="songChords : ${songChordsCollection}">
                    <td>️
                        <h3 class="addedByText regular-font" th:text="'Added by ' + ${songChords.addedBy} + ' on ' + ${#dates.format(songChords.timestamp, 'yyyy-MM-dd')}"></h3>
                        <div class="chordsButtonsWrapper">
                            <a class="editChordPageButton linkInButton regular-font" th:href="@{'/admin/songs/practice/' + ${song.id} + '/edit-chord-page/' + ${songChords.id} }">
                                <button class="btn btn-light editChordPageButton">Edit</button>
                            </a>
                            <form method="post" th:action="@{/admin/songs/practice/{songId}/delete-chord-page(songId=${song.id})}">
                                <input name="chordPageId" th:value="${songChords.id}" hidden>
                                <button class="btn btn-danger deleteChordPageButton" type="submit">Delete</button>
                            </form>
                        </div>
                        <img class="chordSheetButton" onclick="printText(this)" th:src="@{/uploads/images/print.svg}" />
                        <img class="chordSheetButton" onclick="zoomInChordPage(this)" th:src="@{/uploads/images/zoom-in.svg}" />
                        <img class="chordSheetButton" onclick="zoomOutChordPage(this)" th:src="@{/uploads/images/zoom-out.svg}" /></img>
                        <img class="chordSheetButton" onClick="toggleDarkMode(this)" th:src="@{/uploads/images/dark-theme.svg}" />
                        <pre style="font-size: 12px;" class="chordsText" th:utext="${songChords.chordsText}"></pre>
                        <br>
                    </td>
                </tr>
            </table>
        </div>

    </body>

</html>